<form class="search-form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field class="search-form__input" appearance="legacy">
    <input matInput formControlName="search" type="text" placeholder="search" />
    <button class="search-form__button" type="submit" mat-flat-button [disabled]="!form.valid">
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </mat-form-field>
</form>
<mat-list *ngIf="(repositories$ | async) as repositories">
  <ng-container *ngFor="let repository of repositories">
    <mat-list-item class="repository">
      <h3 matLine class="repository__name">
        <a [routerLink]="['/details', repository.fullName]">{{ repository.name }}</a>
      </h3>
      <p matLine class="repository__owner-login">{{ repository.ownerLogin }}</p>
      <p matLine class="repository__language" *ngIf="repository.language; else empty">
        <span
          class="repository__language-color"
          [style.background-color]="getLanguageColor(repository.language)"
        >
        </span>
        <span> {{ repository.language }}</span>
      </p>

      <ng-template #empty>
        <p matLine class="repository__language">&nbsp;</p>
      </ng-template>
      <div class="repository__stargazers-count" *ngIf="repository.stargazersCount !== 0">
        <mat-icon>star</mat-icon>
        <span> {{ repository.stargazersCount }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
