<form class="search-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="search-form__input">
    <input
      matInput
      type="text"
      placeholder="search"
      formControlName="search"
      (ngModelChange)="onSearchNgModelChange()"
    />
  </mat-form-field>
  <button
    mat-flat-button
    class="search-form__button"
    type="submit"
    *ngIf="!submitted"
    [disabled]="!form.valid"
  >
    <mat-icon matSuffix>search</mat-icon>
  </button>
  <button mat-flat-button class="search-form__button" *ngIf="submitted" (click)="onClearClick()">
    <mat-icon matSuffix>close</mat-icon>
  </button>
</form>

<mat-list
  class="repositories"
  *ngIf="(repositories$ | async) as repositories; else placeholderImage"
>
  <ng-container *ngFor="let repository of repositories">
    <mat-list-item class="repository">
      <h3 matLine class="repository__line title">
        <a class="title__redirect" [routerLink]="['/details', repository.fullName]">{{
          repository.name
        }}</a>
      </h3>
      <p matLine class="repository__line repository__line--owner-login">
        {{ repository.ownerLogin }}
      </p>

      <p matLine class="repository__line language" *ngIf="repository.language; else emptyLine">
        <span
          class="language__color-circle"
          [style.background-color]="getLanguageColor(repository.language)"
        >
        </span>
        <span> {{ repository.language }}</span>
      </p>
      <ng-template #emptyLine>
        <p matLine class="language--empty">&nbsp;</p>
      </ng-template>

      <div class="repository__stargazers-count" *ngIf="repository.stargazersCount !== 0">
        <mat-icon>star</mat-icon>
        <span> {{ repository.stargazersCount }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>

  <p class="repositories__no-results" *ngIf="repositories.length === 0 && !loading">no results</p>
</mat-list>

<mat-spinner *ngIf="loading"></mat-spinner>
<ng-template #placeholderImage>
  <img
    class="placeholder-image"
    *ngIf="!loading"
    [lazyLoad]="'https://cdn.dribbble.com/users/37530/screenshots/2485318/no-results.png'"
    [useSrcset]="true"
  />
</ng-template>
