<button mat-flat-button class="back-button" (click)="onBackClick()">
  <mat-icon matSuffix>arrow_back</mat-icon>
</button>

<ng-container *ngIf="(repositoryDetails$ | async) as repositoryDetails">
  <div class="header">
    <h1 class="header__title">
      <a
        class="header__redirect"
        target="_blank"
        rel="noopener noreferrer"
        [href]="'https://github.com/' + repositoryDetails.ownerLogin"
        >{{ repositoryDetails.ownerLogin }}</a
      >
      /
      <a
        class="header__redirect"
        target="_blank"
        rel="noopener noreferrer"
        [href]="'https://github.com/' + repositoryDetails.name"
        >{{ repositoryDetails.name }}</a
      >
    </h1>

    <div class="header__stats">
      <div class="header__stat">
        <mat-icon>visibility</mat-icon>{{ repositoryDetails.subscribersCount }}
      </div>
      <div class="header__stat">
        <mat-icon>star</mat-icon>{{ repositoryDetails.stargazersCount }}
      </div>
      <div class="header__stat">
        <mat-icon>call_split</mat-icon>{{ repositoryDetails.forksCount }}
      </div>
    </div>
  </div>

  <div class="content">
    <p>{{ repositoryDetails.description }}</p>
    <a
      class="content__web-link"
      target="_blank"
      rel="noopener noreferrer"
      *ngIf="repositoryDetails.htmlUrl"
      [href]="repositoryDetails.htmlUrl"
      ><mat-icon>favorite</mat-icon>{{ repositoryDetails.htmlUrl }}</a
    >
    <a
      class="content__web-link"
      target="_blank"
      rel="noopener noreferrer"
      *ngIf="repositoryDetails.homepageUrl"
      [href]="repositoryDetails.homepageUrl"
      ><mat-icon>language</mat-icon>{{ repositoryDetails.homepageUrl }}</a
    >
  </div>
</ng-container>

<ng-container *ngIf="(contributors$ | async) as contributors">
  <h2>Contributors</h2>
  <mat-list>
    <mat-list-item *ngFor="let contributor of contributors">
      <img matListAvatar [lazyLoad]="contributor.avatarUrl" [useSrcset]="true" />
      <h3 matLine>{{ contributor.login }}</h3>
    </mat-list-item>
  </mat-list>
</ng-container>

<mat-spinner *ngIf="repositoryDetailsLoading"></mat-spinner>
